doctype html
html
    head
        link(rel="stylesheet",href="/css/main.css")
    body
        include ../partials/header.pug
        include ../partials/hero.pug
        include ../partials/icons-block.pug
        include ../partials/about.pug
        include ../partials/portfolio.pug
        include ../partials/slider-block.pug
        include ../partials/price.pug
        include ../partials/subscribe.pug
        include ../partials/footer.pug
        script(type="text/javascript", src="/js/main.js")