.about-block
    img.about-block-picture(src="../img/about.png")
    .text-about
        h3.title Something about us
        h2.header-about-block ABOUT US
        p.text-about-block.
            Man signs moving of may may made above likeness kind fowl together gathered third
            their itself, earth void signs Thing waters. To give fourth shall days stars. Male darkness, it
            appear them the there which fruit unto creepeth years subdue day bearing man given
            she’d grass so them.
        p.text-about-block.
            From. Above dominion place she’d the itself fish let creature kind. Sixth moveth whose.
            Spirit. Seasons fruit that earth dry be fly gathered yielding made his itself firmament
            creeping dry abundantly lights make.
        .progress-bar
            .progress-bar-title Our Skills
            .bar-wrapper
                span.bar-ps
                .bar-description
                    h2 Ps
                    h2 99%
            .bar-wrapper
                span.bar-ai
                .bar-description
                    h2 Ai
                    h2 70%
            .bar-wrapper
                span.bar-seo
                .bar-description
                    h2 SEO
                    h2 80%
            .bar-wrapper
               span.bar-wp
               .bar-description
                    h2 WP
                    h2 60%

    