.footer-block
    ul.footer-list  
        li
            a.footer-link(href="#") Home
            a.footer-link(href="#") About Us      
            a.footer-link(href="#") Our Work
            a.footer-link(href="#") Expertise
            a.footer-link(href="#") Price
            a.footer-link(href="#") Conctact