.header
    .header-wrapper
        .header-top
            .logo Studio
            ul.top-menu
                li.list
                    a.menu-link(href='#') Home
                li.list
                    a.menu-link(href='#') About Us
                li.list
                    a.menu-link(href='#') Our Work              
                li.list
                    a.menu-link(href='#') Expertise       
                li.list
                    a.menu-link(href='#') Price   
                li.list
                    a.menu-link.last(href='#') Conctact   
        .wrapper-burger-menu
            input(type="checkbox" id="check-menu")
            label(for="check-menu")
            .burger-line.first 
            .burger-line.second
            .burger-line.third
            .burger-line.fourth
            nav.burger-menu
                a(href="#") Home
            
                a(href="#") About us 
            
                a(href="#") Our Work 
            
                a(href="#") Expertise
            
                a(href="#") Price 
            
                a(href="#") Conctact 



                       

   
