.hero-image
    .hero-overlay
    .hero-text
        h1.
             We build digital
             products & services
        p   
            |From small businesses to large companies, we have been successfully creating 
            |websites and web applications for our clients.
        
        button.button See our work
    .scroll-block    
        a.scroll 