.icons-block
    .icons-block-wrapper    
        .icons
            img.icon-picture(src="../img/icon.png")
            .right-side
                h2.icon-text UI/UX DESIGN
                p.description-icons.
                    Let you’ll one had. Gathering
                    replenish behold open subdue
                    signs place hath meat image fly. 
                    Whose together. Over there
                    you, fill herb set had likeness
                    male great living signs may.

        .icons
            img.icon-picture(src="../img/icon2.png")
            .right-side
                h2.icon-text WORDPRESS
                p.description-icons.
                    Let you’ll one had. Gathering
                    replenish behold open subdue
                    signs place hath meat image fly. 
                    Whose together. Over there
                    you, fill herb set had likeness
                    male great living signs may.        
        
        .icons
            img.icon-picture(src="../img/icon3.png")
            .right-side
                h2.icon-text DEVELOPMENT
                p.description-icons.
                    Let you’ll one had. Gathering
                    replenish behold open subdue
                    signs place hath meat image fly. 
                    Whose together. Over there
                    you, fill herb set had likeness
                    male great living signs may.

