.portfolio
    h2.portfolio-header PORTFOLIO
    .portfolio-title Our portfolio
    .portfolio-content
        img.portfolio-img(src="../img/img_1.png")
        img.portfolio-img.overlay(src="../img/img_2.png")
        .portfolio-image-wrapper     
            h2.image-header Looking4Parking
            p.
             Online booking platform for 
             airport & marine parking
            a Learn More    
            hr 
        img.portfolio-img(src="../img/img_3.png")
        img.portfolio-img(src="../img/img_4.png")
        img.portfolio-img(src="../img/img_5.png")
        img.portfolio-img(src="../img/img_6.png")
    button.button.portfolio-button  Load More