.price-block
    .price-content
        .price-proposial.basic
            h2 STANDARD 
            .price-wrapper
                .price-per-year $54
                .price-count /Year
            ul.rate
                li.rate-list
                    a.rate-link 1 mail address
                    a.rate-link No Support
                    a.rate-link One Support
                    a.rate-link One Client
                    a.rate-link 1GB Storage
            button.button.price-button Buy Now
        .price-proposial.standart
            h2 STANDARD
            .price-wrapper
                .price-per-year $84
                .price-count /Year
            ul.rate
                li.rate-list
                    a.rate-link 2 mail address
                    a.rate-link No Support
                    a.rate-link Limited Support
                    a.rate-link Two Client
                    a.rate-link 5GB Storage
            button.button.price-button Buy Now
        .price-proposial.pro
            h2 PRO
            .price-wrapper
                .price-per-year $154
                .price-count /Year 
            ul.rate
                li.rate-list
                    a.rate-link 3 mail address
                    a.rate-link Unlimited
                    a.rate-link One Product
                    a.rate-link Unlimited Client
                    a.rate-link 10GB Storage
            button.button.price-button Buy Now 