.slider-block
    .slide
        .slide-content
            .slide-content-inner
                img.slider-person-image(src="../img/person-img.png")
                .person-info-container
                    h2.person-data John Smith
                    h2.personal-info Founder of Mania
            p.slider-text.
                “Meat it which kind cattle. Tree called in won’t meat. I creature yielding gathered winged
                fruitful fruit together two gathering him void image was midst rule hath may isn’t
                waters.”
        
    .slide
         .slide-content
            .slide-content-inner
                img.slider-person-image(src="../img/person-img.png")
                .person-info-container
                    h2.person-data John Smith
                    h2.personal-info Founder of Mania
            p.slider-text.
                “Meat it which kind cattle. Tree called in won’t meat. I creature yielding gathered winged
                fruitful fruit together two gathering him void image was midst rule hath may isn’t
                waters.”
        
        
    .slide  
         .slide-content
            .slide-content-inner
                img.slider-person-image(src="../img/person-img.png")
                .person-info-container
                    h2.person-data John Smith
                    h2.personal-info Founder of Mania
            p.slider-text.
                “Meat it which kind cattle. Tree called in won’t meat. I creature yielding gathered winged
                fruitful fruit together two gathering him void image was midst rule hath may isn’t
                waters.”
        
        
