.subscribe-block
    h2.subscribe-header Subscribe to our newsletter to get the latest news
    form.users-contact
        input.name(type="text" name="your-name" placeholder="Name" size="30" aria-required="true" aria-invalid="false")
        input.mail-adress(type="email" name="your-email" value="" size="50" aria-invalid="false" placeholder="Your email")
        input.form-button(type="submit" value="SUBSCRIBE")
    ul.social-icons
        li.social-list
            a.social-icon.social-icon-facebook(href="#")
        li.social-list
            a.social-icon.social-icon-youtube(href="#")
        li.social-list
            a.social-icon.social-icon-instagram(href="#")
        li.social-list
            a.social-icon.social-icon-twitter(href="#")
        li.social-list
            a.social-icon.social-icon-linkedin(href="#")
    